<template>
  <div class="hello">
    <button @click="show = !show">Toggle</button>
    <transition>
      <h1 v-if="show">{{ msg }}</h1>
    </transition>
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
    data() {
      return { show: false}
    }
}
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
    transform: translateX(0);
    transition: all 0.5s linear;
}

.v-enter-from,
.v-leave-to {
    transform: translateX(200px);
}
</style>
